 <!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/bbqImage.JPG" alt="First slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>BBQ Campus Green</h1>
          <p>Today there will be a barbeque on Campus Green, starting at 4PM.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/cheerleadingImage.JPG" alt="Second slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Cheerleading Demo</h1>
          <p>On 5th May, there will be a cheerleading demo in the SCC. Make sure you don't miss it.</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">Read more</a></p>
        </div>
      </div>
    </div>
    <div class="item">
      <img src="/assets/cidImage.JPG" alt="Third slide">
      <div class="container">
        <div class="carousel-caption">
          <h1>Indian Amazing CID</h1>
          <p>On the 1st of June, there will be an Indian CID. Great food!</p>
          <p><a class="btn btn-lg btn-primary" href="#" role="button">See details</a></p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- /.carousel -->


