<% provide(:title, 'Write Article') %>
<div class ="container jcontainer">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>

<form accept-charset="UTF-8" action="/doPosting" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Create a new article</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="newPageTitle">Title</label>
  <div class="controls">
    <input id="newPageTitle" name="newPageTitle" type="text" placeholder="What is this about?" class="input-xlarge articleFormInput" required="">
  </div>
</div>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="newPageImage">Some pic?</label>
  <div class="controls">
    <input id="newPageImage" name="newPageImage" type="text" placeholder="URL of the photo" class="input-medium articleFormInput">
  </div>
</div>

<!-- Textarea -->
<div class="control-group">
  <label class="control-label" for="newPageContent">Content</label>
  <div class="controls">                     
    <textarea id="newPageContent" name="newPageContent" class="articleFormInput" placeholder="Tell us something..."></textarea>
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <div class="controls">
    <button id="newPageSubmit" name="Submit" class="btn btn-primary">Post it!</button>
  </div>
</div>

</fieldset>
</form>
</div>
