<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Campusnet Login</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="ldapUser">Username</label>
  <div class="controls">
    <input id="ldapUser" name="ldapUser" type="text" placeholder="" class="input-medium" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="ldapPass">Password</label>
  <div class="controls">
    <input id="ldapPass" name="ldapPass" type="password" placeholder="" class="input-medium" required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="ldapLogin"></label>
  <div class="controls">
    <button id="ldapLogin" name="ldapLogin" class="btn btn-large btn-primary">Log in</button>
  </div>
</div>

</fieldset>
</form>

