<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/jacobs_logo.PNG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>Campusnet</h2>
    <p>Check messages from professors, register for courses, fill course evaluations, etc.</p>
    <p><a class="btn btn-default" target="_blank" href="https://campusnet.jacobs-university.de" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/exchange.JPG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>Exchange</h2>
    <p>Connect with the student body, sell that couch with bed bugs and whatnot.</p>
    <p><a class="btn btn-default" target="_blank"href="https://exchange.jacobs-university.de/owa/" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/people.JPG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>jPeople</h2>
    <p>Look up the cute girl you met at the Nerd party and get in touch with her.</p>
    <p><a class="btn btn-default" target="_blank" href="https://jmap.tk" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


<div class="row">
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/teamwork.JPG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>Teamwork</h2>
    <p>Read very informative articles about the univeristy's policies regarding housing, food, etc.</p>
    <p><a class="btn btn-default" target="_blank" href="http://teamwork.jacobs-university.de/" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/voices.JPG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>jVoices</h2>
    <p>Voice your opinion about current developments in the University.</p>
    <p><a class="btn btn-default" target="_blank" href="http://voices.user.jacobs-university.de/" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
  <div class="col-lg-4">
    <img class="img-circle" src="/assets/courses.JPG" alt="140x140" style="width: 140px; height: 140px;">
    <h2>jCourse</h2>
    <p>Make and help others make an informed decision about the courses you plan to take.</p>
    <p><a class="btn btn-default" target="_blank" href="http://jcourse.herokuapp.com" role="button">View details &raquo;</a></p>
  </div><!-- /.col-lg-4 -->
</div><!-- /.row -->


