<% provide(:title, 'About Us') %>
<div class="container jcontainer">
  <h1>About Us</h1>
  <p>
      This website was developed as a project for the Human Interaction Course at Jacobs University Bremen. The members of the team are:
  </p>
  <ul>
      <li>Radu Hambasan</li>
      <li>Kiril Kafadarov</li>
      <li>Clemence Nsindo</li>
      <li>Siddharth Shukla</li>
  </ul>
</div>
