<% provide(:title, 'Contact') %>
<div class="container jcontainer">
  <h1>Contact</h1>
  <p>
      Contact the developers at their Jacobs email address. If you cannot find it out, GitHub works as well.
  </p>
</div>
