<% provide(:title, 'Contact') %>
<div class="container jcontainer">
  <h1>Contact</h1>
  <p>
      Contact the developers at their Jacobs email address. If you cannot find it out, GitHub works as well.
  </p>
  <h2>GitHub repo</h1>
  <p>The code for this website can be found in <a href="https://github.com/Raduh/studentsatjacobs">this</a> GitHub repo.</p>
</div>
