<% provide(:title, 'Found it :)') %>
<div class="container jcontainer">
  <h1>Relax</h1>
  <p>
    We found the article you were looking for, but the page used for displaying the results is still in development. Hang in there while we work on it.
  </p>
</div>
