<% provide(:title, 'Wall') %>
<div class="container jcontainer">
  <h1 >Latest articles</h1>
  <%= link_to "Write article!", write_path, class: "btn btn-large btn-primary" %>
  <p><b>1.</b> Lorem ipsum dolor sit amet, dolor adipiscit...</p>
</div>
