<% provide(:title, 'Wall') %>
<div class="container jcontainer">
  <h1 >Latest articles</h1>
  <button class="btn btn-large btn-primary">Create a new article!</button>
  <p>Lorem ipsum dolor sit amet, dolor adipiscit...</p>
</div>
