<% provide(:title, 'Login') %>
<div class="container jcontainer">
<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %>"><%= value %></div>
<% end %>
<form accept-charset="UTF-8" action="/doAuth" method="post" class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Campusnet Login</legend>

<!-- Text input-->
<div class="control-group">
  <label class="control-label" for="ldapUser">Username</label>
  <div class="controls">
    <input id="ldapUser" name="ldapUser" type="text" placeholder="" class="input-medium authFormInput" required="">
    
  </div>
</div>

<!-- Password input-->
<div class="control-group">
  <label class="control-label" for="ldapPass">Password</label>
  <div class="controls">
    <input id="ldapPass" name="ldapPass" type="password" placeholder="" class="input-medium authFormInput " required="">
    
  </div>
</div>

<!-- Button -->
<div class="control-group">
  <label class="control-label" for="ldapLogin"></label>
  <div class="controls">
    <button id="ldapLogin" name="ldapLogin" type="submit" class="btn btn-large btn-primary">Log in</button>
  </div>
</div>

</fieldset>
</form>
</div>
