/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
 */


/* some media queries for search bar*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
    .customSearchBar {
        width: 200px; 
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
    .customSearchBar {
        width: 300px; 
    }
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
    .customSearchBar {
        width: 200px; 
    }

}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
    .customSearchBar {
        width: 500px; 
    }

}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
    .customSearchBar {
        width: 500px; 
    }

}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {
    .customSearchBar {
        width: 500px; 
    }

}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) {
    .customSearchBar {
        width: 700px; 
    }

}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
    .customSearchBar {
        width: 800px; 
    }

}

/* iPhone 4 ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {
    .customSearchBar {
        width: 200px; 
    }

}
