// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* because of the heighty bootstrap navbar */
body {
    .jwall {
        padding-top: 60px;
    }
}

