<div class="container">
  <div class="jfooter">
      <p class="pull-right"><a href="#">Back to top</a></p>
      <small>Powered by Rails</small>
      <nav>
        <ul>
          <li><%= link_to "About", about_path %></li>
          <li><%= link_to "Contact", contact_path %></li>
        </ul>
      </nav>
  </div>
</div>
