<!-- NAVBAR
================================================== -->
<header class="navbar-wrapper jnavbar">
  <div class="container">

    <div class="navbar navbar-inverse navbar-static-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse">
          <form class="navbar-form navbar-left form-inline" id="search" role="search">
              <div class="form-group-group">
              <div class="input-group customSearchBar">
                  <input type="text" class="form-control" placeholder="Search for articles">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="button"><b class="glyphicon glyphicon-search"></b></button>
                  </span>
              </div>
            </div>
          </form>

          <ul class="nav navbar-nav navbar-right" style = "margin-right:10px">
            <li class="active"><%= link_to "Home", root_path %></li>
            <li><a href="wall">Wall</a></li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Services<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://campusnet.jacobs-university.de">Campusnet</a></li>
                <li><a href="https://exchange.jacobs-university.de/owa/">Exchange</a></li>
                <li><a href="http://swebtst01.public.jacobs-university.de/jPeople/">jPeople</a></li>
                <li><a href="http://teamwork.jacobs-university.de/">Teamwork</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Featured</li>
                <li><a href="http://j2048.user.jacobs-university.de/">j2048</a></li>
                <li><a href="http://voices.user.jacobs-university.de/#">jVoices</a></li>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
</header>


